body {
  background: #222;
}
.rect {
  width: 200px;
  height: 200px;
  border: solid white 5px;
}
h1 {
  font-size: 30px;
}
/*  navi bar */
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
